In [1]:
import pandas as pd
import requests
import json
from pprint import pprint
import csv
import numpy as np
import gmaps
from config import g_api

In [2]:
county_map_firearm_suicide = pd.read_csv('https://wisqars.cdc.gov:8443/cdcMapFramework/ExcelServlet?excelFile=m2957336_csv')

In [3]:
county_map_firearm_suicide.head()

,_,ST,County,StateFIPS,CountyFIPS,Population,Deaths,U_C_Rate
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"2008-2014, United States",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Death Rates per 100,000 Population",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Firearm, Suicide, All Races, All Ethnicities, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Annualized Crude Rate for United States: 6.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
del county_map_firearm_suicide['_']

In [5]:
suicide_data = county_map_firearm_suicide.dropna()

In [6]:
suicide_data.head()

    ST   County  StateFIPS  CountyFIPS  Population  Deaths     U_C_Rate
20  ST   County  StateFIPS  CountyFIPS  Population  Deaths     U_C_Rate
21  AL  AUTAUGA          1           1      382981      46  12.01103971
22  AL  BALDWIN          1           3     1310307     164   12.5161508
24  AL     BIBB          1           7      158945      22  13.84126585
25  AL   BLOUNT          1           9      402599      46  11.42576112

In [7]:
suicide_data = suicide_data.iloc[1:]

In [8]:
suicide_data.head()

    ST   County StateFIPS CountyFIPS Population Deaths     U_C_Rate
21  AL  AUTAUGA         1          1     382981     46  12.01103971
22  AL  BALDWIN         1          3    1310307    164   12.5161508
24  AL     BIBB         1          7     158945     22  13.84126585
25  AL   BLOUNT         1          9     402599     46  11.42576112
27  AL   BUTLER         1         13     144433     21  14.53961352

In [9]:
suicide_data_cl = suicide_data.reset_index(drop=True)
suicide_data_cl.head()

   ST   County StateFIPS CountyFIPS Population Deaths     U_C_Rate
0  AL  AUTAUGA         1          1     382981     46  12.01103971
1  AL  BALDWIN         1          3    1310307    164   12.5161508
2  AL     BIBB         1          7     158945     22  13.84126585
3  AL   BLOUNT         1          9     402599     46  11.42576112
4  AL   BUTLER         1         13     144433     21  14.53961352

In [10]:
suicide_data_cl.dtypes

ST            object
County        object
StateFIPS     object
CountyFIPS    object
Population    object
Deaths        object
U_C_Rate      object
dtype: object

In [11]:
suicide_data_cl['Population'] = pd.to_numeric(suicide_data_cl['Population'])

In [12]:
suicide_data_cl['Deaths'] = pd.to_numeric(suicide_data_cl['Deaths'])

In [13]:
suicide_data_cl.dtypes

ST            object
County        object
StateFIPS     object
CountyFIPS    object
Population     int64
Deaths         int64
U_C_Rate      object
dtype: object

In [14]:
suicide_data_state_gb = suicide_data_cl.groupby('ST')

In [15]:
suicide_data_state_gb.head()

,ST,County,StateFIPS,CountyFIPS,Population,Deaths,U_C_Rate
0,AL,AUTAUGA,1,1,382981,46,12.01103971
1,AL,BALDWIN,1,3,1310307,164,12.5161508
2,AL,BIBB,1,7,158945,22,13.84126585
3,AL,BLOUNT,1,9,402599,46,11.42576112
4,AL,BUTLER,1,13,144433,21,14.53961352
42,AK,ANCHORAGE,2,20,2058611,211,10.24962948
43,AK,BETHEL,2,50,121449,40,32.93563553
44,AK,FAIRBANKS NORTH STAR,2,90,685791,93,13.56098287
45,AK,JUNEAU,2,110,222855,21,9.42316753
46,AK,KENAI PENINSULA,2,122,391722,83,21.18849592
50,AZ,APACHE,4,1,501369,57,11.36887203
51,AZ,COCHISE,4,3,912619,142,15.55961469
52,AZ,COCONINO,4,5,944231,93,9.849284762
53,AZ,GILA,4,7,373273,52,13.93082275
54,AZ,GRAHAM,4,9,260802,28,10.73611399
63,AR,BAXTER,5,5,288810,49,16.96617153
64,AR,BENTON,5,7,1588896,125,7.867097658
65,AR,BOONE,5,9,259679,41,15.78872377
66,AR,CARROLL,5,15,191998,30,15.62516276
67,AR,CLEBURNE,5,23,180439,25,13.85509784
93,CA,ALAMEDA,6,1,10768932,344,3.194374335
94,CA,AMADOR,6,5,262513,44,16.76107469
95,CA,BUTTE,6,7,1546776,140,9.05108432
96,CA,CALAVERAS,6,9,316872,48,15.14807241
97,CA,CONTRA COSTA,6,13,7463523,330,4.421504429
141,CO,ADAMS,8,1,3166336,216,6.821764967
142,CO,ARAPAHOE,8,5,4096470,313,7.640724819
143,CO,BOULDER,8,13,2108478,171,8.110115448
144,CO,BROOMFIELD,8,14,402728,32,7.945809579
145,CO,DELTA,8,29,213842,29,13.5614145
...,...,...,...,...,...,...,...
1265,VT,BENNINGTON,50,3,258062,29,11.23760957
1266,VT,CALEDONIA,50,5,217964,27,12.38736672
1267,VT,CHITTENDEN,50,7,1103666,60,5.436427325
1268,VT,FRANKLIN,50,11,336170,37,11.00633608
1269,VT,ORANGE,50,17,202629,30,14.80538324
1275,VA,ALBEMARLE,51,3,704322,46,6.531103671
1276,VA,AMHERST,51,9,226109,26,11.49887886
1277,VA,ARLINGTON,51,13,1498039,36,2.403141707
1278,VA,AUGUSTA,51,15,516201,81,15.69156201
1279,VA,BEDFORD,51,19,526307,57,10.83018086
1337,WA,BENTON,53,5,1246682,101,8.101504634
1338,WA,CHELAN,53,7,510540,46,9.010067771
1339,WA,CLALLAM,53,9,501846,70,13.94850213
1340,WA,CLARK,53,11,3026374,208,6.872911279
1341,WA,COWLITZ,53,15,714192,48,6.72088178
1363,WV,BERKELEY,54,3,740590,63,8.50673112
1364,WV,BOONE,54,5,170861,22,12.8759635
1365,WV,BROOKE,54,9,167336,24,14.34240092
1366,WV,CABELL,54,11,675350,58,8.588139483
1367,WV,FAYETTE,54,19,320795,38,11.84557116
1388,WI,BARRON,55,5,320502,23,7.17624227
1389,WI,BROWN,55,9,1753504,100,5.702866945
1390,WI,CALUMET,55,15,343965,25,7.268181356
1391,WI,CHIPPEWA,55,17,438575,36,8.208402212
1392,WI,CLARK,55,19,242111,23,9.499774897
1430,WY,ALBANY,56,1,256346,24,9.362346204
1431,WY,CAMPBELL,56,5,325646,52,15.96826001
1432,WY,CARBON,56,7,110662,21,18.97670384
1433,WY,CONVERSE,56,9,97296,25,25.69478704
1434,WY,FREMONT,56,13,282184,52,18.42769257

In [16]:
suicide_data = suicide_data_state_gb[['Population','Deaths']].sum()
suicide_data.head(10)

    Population  Deaths
ST
AK     4241010     594
AL    30287331    3001
AR    15897518    1553
AZ    45020384    4421
CA   262523577   10634
CO    33315889    2956
CT    25062400     751
DC     4337658      67
DE     6359102     333
FL   132105481   10288

In [17]:
suicide_data.sort_values(by=['Deaths'], ascending=False).head(10)

    Population  Deaths
ST
TX   166362640   10694
CA   262523577   10634
FL   132105481   10288
PA    87336515    5755
OH    75032087    4699
NC    63427055    4683
AZ    45020384    4421
GA    58871201    4250
TN    41035485    3857
MI    64295863    3856

In [18]:
suicide_data_county_gb = suicide_data_cl.groupby(['ST','County'])
suicide_data_county_gb.head(10)

      ST      County StateFIPS CountyFIPS  Population  Deaths     U_C_Rate
0     AL     AUTAUGA         1          1      382981      46  12.01103971
1     AL     BALDWIN         1          3     1310307     164   12.5161508
2     AL        BIBB         1          7      158945      22  13.84126585
3     AL      BLOUNT         1          9      402599      46  11.42576112
4     AL      BUTLER         1         13      144433      21  14.53961352
5     AL     CALHOUN         1         15      821696      90  10.95295584
6     AL    CHAMBERS         1         17      239504      29  12.10835727
7     AL    CHEROKEE         1         19      181721      24  13.20705917
8     AL     CHILTON         1         21      305591      38  12.43492119
9     AL      COFFEE         1         31      351356      42    11.953688
10    AL     COLBERT         1         33      381275      35   9.17972592
11    AL     CULLMAN         1         43      563918      66  11.70382928
12    AL        DALE         1         45      349700      30  8.578781813
13    AL     DE KALB         1         49      496451      53  10.67577666
14    AL      ELMORE         1         51      557793      61  10.93595653
15    AL      ETOWAH         1         55      729002      81  11.11108063
16    AL     FAYETTE         1         57      119939      22  18.34265752
17    AL    FRANKLIN         1         59      221312      25  11.29626952
18    AL      GENEVA         1         61      187374      21  11.20753146
19    AL     HOUSTON         1         69      714840      62  8.673269543
20    AL     JACKSON         1         71      372114      52   13.9742122
21    AL   JEFFERSON         1         73     4609287     421  9.133733699
22    AL  LAUDERDALE         1         77      648610      55  8.479671914
23    AL    LAWRENCE         1         79      237718      36  15.14399414
24    AL         LEE         1         81     1011486      76  7.513697669
25    AL   LIMESTONE         1         83      595597      55  9.234432007
26    AL     MADISON         1         89     2369101     202  8.526441042
27    AL      MARION         1         93      214163      26  12.14028567
28    AL    MARSHALL         1         95      653739      65  9.942805921
29    AL      MOBILE         1         97     2890974     252  8.716785416
...   ..         ...       ...        ...         ...     ...          ...
1411  WI      OCONTO        55         83      262892      22  8.368455487
1412  WI      ONEIDA        55         85      251504      30  11.92823971
1413  WI   OUTAGAMIE        55         87     1246093      75    6.0188124
1414  WI     OZAUKEE        55         89      607100      31  5.106242794
1415  WI        POLK        55         95      307246      41  13.34435599
1416  WI     PORTAGE        55         97      491242      33  6.717666649
1417  WI      RACINE        55        101     1365015      76  5.567704384
1418  WI        ROCK        55        105     1123482      67  5.963602443
1419  WI    ST CROIX        55        109      594403      38   6.39296908
1420  WI        SAUK        55        111      436156      31  7.107548675
1421  WI     SHAWANO        55        115      292286      24  8.211135668
1422  WI   SHEBOYGAN        55        117      807143      40  4.955751335
1423  WI    WALWORTH        55        127      718662      47   6.53993115
1424  WI  WASHINGTON        55        131      924996      59  6.378405961
1425  WI    WAUKESHA        55        133     2738016     153  5.587987798
1426  WI     WAUPACA        55        135      366038      26  7.103087658
1427  WI    WAUSHARA        55        137      171365      21  12.25454439
1428  WI   WINNEBAGO        55        139     1173396      80  6.817817685
1429  WI        WOOD        55        141      520420      43  8.262557165
1430  WY      ALBANY        56          1      256346      24  9.362346204
1431  WY    CAMPBELL        56          5      325646      52  15.96826001
1432  WY      CARBON        56          7      110662      21  18.97670384
1433  WY    CONVERSE        56          9       97296      25  25.69478704
1434  WY     FREMONT        56         13      282184      52  18.42769257
1435  WY     LARAMIE        56         21      651105      77  11.82604956
1436  WY     NATRONA        56         25      542239      75  13.83153923
1437  WY        PARK        56         29      199222      39  19.57615123
1438  WY    SHERIDAN        56         33      205339      43  20.94098052
1439  WY  SWEETWATER        56         37      309675      55  17.76055542
1440  WY       UINTA        56         41      146626      22  15.00416024

[1441 rows x 7 columns]

In [19]:
suicide_data_county = suicide_data_county_gb[['Population','Deaths']].sum()
suicide_data_county.head(10)

                         Population  Deaths
ST County
AK ANCHORAGE                2058611     211
   BETHEL                    121449      40
   FAIRBANKS NORTH STAR      685791      93
   JUNEAU                    222855      21
   KENAI PENINSULA           391722      83
   MATANUSKA-SUSITNA         639389      90
   NOME                       67454      28
   WADE HAMPTON               53739      28
AL AUTAUGA                   382981      46
   BALDWIN                  1310307     164

In [20]:
suicide_data_county.sort_values(by=['Deaths'], ascending=False).head()

                Population  Deaths
ST County
AZ MARICOPA       27305256    2329
CA LOS ANGELES    69384934    1998
TX HARRIS         29305035    1662
NV CLARK          13867827    1278
CA SAN DIEGO      21989802    1023

In [21]:
county_map_nonfirearm_suicide = pd.read_csv('https://wisqars.cdc.gov:8443/cdcMapFramework/ExcelServlet?excelFile=m8731024_csv')

In [22]:
county_map_nonfirearm_suicide.head()

,_,ST,County,StateFIPS,CountyFIPS,Population,Deaths,U_C_Rate
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"2008-2014, United States",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Death Rates per 100,000 Population",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Non-Firearm, Suicide, All Races, All Ethniciti...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Annualized Crude Rate for United States: 6.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
del county_map_nonfirearm_suicide['_']

In [24]:
suicide_data_nfa = county_map_nonfirearm_suicide.dropna()

In [25]:
suicide_data_nfa = suicide_data_nfa.iloc[1:]

In [26]:
suicide_data_cl_nfa = suicide_data_nfa.reset_index(drop=True)
suicide_data_cl_nfa.head()

   ST   County StateFIPS CountyFIPS Population Deaths     U_C_Rate
0  AL  BALDWIN         1          3    1310307     88  6.715983354
1  AL   BLOUNT         1          9     402599     23  5.712880559
2  AL  CALHOUN         1         15     821696     34  4.137783316
3  AL  CULLMAN         1         43     563918     30    5.3199224
4  AL  DE KALB         1         49     496451     26  5.237173457

In [27]:
suicide_data_cl_nfa['Population'] = pd.to_numeric(suicide_data_cl_nfa['Population'])

In [28]:
suicide_data_cl_nfa['Deaths'] = pd.to_numeric(suicide_data_cl_nfa['Deaths'])

In [29]:
suicide_data_state_gb_nfa = suicide_data_cl_nfa.groupby('ST')

In [30]:
suicide_data_state_gb_nfa.head()

,ST,County,StateFIPS,CountyFIPS,Population,Deaths,U_C_Rate
0,AL,BALDWIN,1,3,1310307,88,6.715983354
1,AL,BLOUNT,1,9,402599,23,5.712880559
2,AL,CALHOUN,1,15,821696,34,4.137783316
3,AL,CULLMAN,1,43,563918,30,5.3199224
4,AL,DE KALB,1,49,496451,26,5.237173457
22,AK,ANCHORAGE,2,20,2058611,158,7.675078002
23,AK,FAIRBANKS NORTH STAR,2,90,685791,36,5.249412722
24,AK,KENAI PENINSULA,2,122,391722,26,6.637360169
25,AK,MATANUSKA-SUSITNA,2,170,639389,33,5.161177311
26,AK,NOME,2,180,67454,22,32.61481899
27,AZ,APACHE,4,1,501369,114,22.73774406
28,AZ,COCHISE,4,3,912619,59,6.46491033
29,AZ,COCONINO,4,5,944231,98,10.3788162
30,AZ,GILA,4,7,373273,38,10.18021662
31,AZ,MARICOPA,4,13,27305256,1807,6.617773516
38,AR,BAXTER,5,5,288810,32,11.07994876
39,AR,BENTON,5,7,1588896,102,6.419551689
40,AR,CRAIGHEAD,5,31,687690,30,4.362430746
41,AR,CRAWFORD,5,33,431612,30,6.950687191
42,AR,FAULKNER,5,45,807507,49,6.068058853
52,CA,ALAMEDA,6,1,10768932,666,6.184457289
53,CA,AMADOR,6,5,262513,36,13.71360656
54,CA,BUTTE,6,7,1546776,145,9.374337331
55,CA,CALAVERAS,6,9,316872,27,8.520790729
56,CA,CONTRA COSTA,6,13,7463523,474,6.35088818
98,CO,ADAMS,8,1,3166336,282,8.906193152
99,CO,ARAPAHOE,8,5,4096470,374,9.129811765
100,CO,BOULDER,8,13,2108478,215,10.19692878
101,CO,BROOMFIELD,8,14,402728,31,7.697503029
102,CO,DELTA,8,29,213842,21,9.82033464
...,...,...,...,...,...,...,...
898,UT,SALT LAKE,49,35,7331410,756,10.31179541
904,VT,BENNINGTON,50,3,258062,24,9.300090676
905,VT,CHITTENDEN,50,7,1103666,77,6.9767484
906,VT,RUTLAND,50,21,428705,31,7.231079647
907,VT,WASHINGTON,50,23,415278,32,7.705681495
908,VT,WINDHAM,50,25,309109,30,9.705314307
910,VA,ALBEMARLE,51,3,704322,27,3.833473894
911,VA,ARLINGTON,51,13,1498039,97,6.475131822
912,VA,AUGUSTA,51,15,516201,27,5.230520669
913,VA,BEDFORD,51,19,526307,29,5.510092019
914,VA,CHESTERFIELD,51,41,2243702,125,5.571149823
948,WA,BENTON,53,5,1246682,64,5.133626699
949,WA,CHELAN,53,7,510540,37,7.247228425
950,WA,CLALLAM,53,9,501846,60,11.95585897
951,WA,CLARK,53,11,3026374,273,9.020696054
952,WA,COWLITZ,53,15,714192,56,7.841028743
970,WV,BERKELEY,54,3,740590,52,7.021428861
971,WV,CABELL,54,11,675350,35,5.182497964
972,WV,GREENBRIER,54,25,248967,22,8.83651247
973,WV,HARRISON,54,33,482340,33,6.841646971
974,WV,KANAWHA,54,39,1344423,93,6.917465708
980,WI,BROWN,55,9,1753504,130,7.413727029
981,WI,CHIPPEWA,55,17,438575,35,7.980391039
982,WI,COLUMBIA,55,21,396069,32,8.079400307
983,WI,DANE,55,25,3476754,265,7.622052064
984,WI,DODGE,55,27,620961,55,8.857239021
1012,WY,CAMPBELL,56,5,325646,26,7.984130006
1013,WY,FREMONT,56,13,282184,25,8.859467581
1014,WY,LARAMIE,56,21,651105,72,11.05812427
1015,WY,NATRONA,56,25,542239,56,10.32754929

In [31]:
suicide_data_nfa = suicide_data_state_gb_nfa[['Population','Deaths']].sum()
suicide_data_nfa.head(10)

    Population  Deaths
ST
AK     3842967     275
AL    24939609    1155
AR    12276424     791
AZ    44616730    3361
CA   262199778   16778
CO    32494779    3120
CT    25062400    1680
DC     4337658     210
DE     6359102     467
FL   129735569    9555

In [32]:
suicide_data_nfa.sort_values(['Deaths'], ascending=False).head(10)

    Population  Deaths
ST
CA   262199778   16778
FL   129735569    9555
NY   132008858    7616
TX   157918463    7587
PA    84308889    5668
IL    80394041    4941
OH    70787802    4542
MI    61553217    3970
NJ    61826877    3542
WA    45265378    3386

In [33]:
suicide_data_county_gb_nfa = suicide_data_cl_nfa.groupby(['ST','County'])
suicide_data_county_gb_nfa.head(10)

,ST,County,StateFIPS,CountyFIPS,Population,Deaths,U_C_Rate
0,AL,BALDWIN,1,3,1310307,88,6.715983354
1,AL,BLOUNT,1,9,402599,23,5.712880559
2,AL,CALHOUN,1,15,821696,34,4.137783316
3,AL,CULLMAN,1,43,563918,30,5.3199224
4,AL,DE KALB,1,49,496451,26,5.237173457
5,AL,ELMORE,1,51,557793,21,3.764837493
6,AL,ETOWAH,1,55,729002,36,4.938258057
7,AL,HOUSTON,1,69,714840,24,3.357394662
8,AL,JEFFERSON,1,73,4609287,195,4.230589243
9,AL,LEE,1,81,1011486,34,3.361391062
10,AL,LIMESTONE,1,83,595597,25,4.197469094
11,AL,MADISON,1,89,2369101,120,5.0652125
12,AL,MARSHALL,1,95,653739,31,4.741953593
13,AL,MOBILE,1,97,2890974,161,5.569057349
14,AL,MONTGOMERY,1,101,1598888,42,2.626825644
15,AL,MORGAN,1,103,835300,37,4.429546271
16,AL,RUSSELL,1,113,388162,23,5.925361061
17,AL,ST CLAIR,1,115,590236,30,5.082712678
18,AL,SHELBY,1,117,1386129,64,4.617174881
19,AL,TALLADEGA,1,121,574000,21,3.658536585
20,AL,TUSCALOOSA,1,125,1373837,31,2.256454004
21,AL,WALKER,1,127,466267,59,12.65369413
22,AK,ANCHORAGE,2,20,2058611,158,7.675078002
23,AK,FAIRBANKS NORTH STAR,2,90,685791,36,5.249412722
24,AK,KENAI PENINSULA,2,122,391722,26,6.637360169
25,AK,MATANUSKA-SUSITNA,2,170,639389,33,5.161177311
26,AK,NOME,2,180,67454,22,32.61481899
27,AZ,APACHE,4,1,501369,114,22.73774406
28,AZ,COCHISE,4,3,912619,59,6.46491033
29,AZ,COCONINO,4,5,944231,98,10.3788162
...,...,...,...,...,...,...,...
986,WI,EAU CLAIRE,55,35,698203,49,7.01801625
987,WI,FOND DU LAC,55,39,711026,36,5.06310599
988,WI,JEFFERSON,55,55,587624,32,5.445659129
989,WI,KENOSHA,55,59,1166326,99,8.488192838
990,WI,LA CROSSE,55,63,808912,58,7.17012481
991,WI,MANITOWOC,55,71,567478,43,7.57738626
992,WI,MARATHON,55,73,941257,68,7.224381864
993,WI,MILWAUKEE,55,79,6643949,423,6.36669547
994,WI,MONROE,55,81,314091,24,7.641097644
995,WI,OCONTO,55,83,262892,21,7.988071147
996,WI,OUTAGAMIE,55,87,1246093,102,8.185584864
997,WI,OZAUKEE,55,89,607100,27,4.447372756
998,WI,POLK,55,95,307246,22,7.16038614
999,WI,PORTAGE,55,97,491242,34,6.921232305
1000,WI,RACINE,55,101,1365015,106,7.765482431
1001,WI,ROCK,55,105,1123482,101,8.989908161
1002,WI,ST CROIX,55,109,594403,46,7.738857307
1003,WI,SAUK,55,111,436156,39,8.941754785
1004,WI,SHEBOYGAN,55,117,807143,76,9.415927537
1005,WI,TREMPEALEAU,55,121,203410,23,11.30721203
1006,WI,WALWORTH,55,127,718662,50,6.957373564
1007,WI,WASHINGTON,55,131,924996,61,6.594623112
1008,WI,WAUKESHA,55,133,2738016,170,6.208875332
1009,WI,WAUPACA,55,135,366038,27,7.376283337
1010,WI,WINNEBAGO,55,139,1173396,91,7.755267616
1011,WI,WOOD,55,141,520420,37,7.109642212
1012,WY,CAMPBELL,56,5,325646,26,7.984130006
1013,WY,FREMONT,56,13,282184,25,8.859467581
1014,WY,LARAMIE,56,21,651105,72,11.05812427
1015,WY,NATRONA,56,25,542239,56,10.32754929

In [34]:
suicide_data_county_nfa = suicide_data_county_gb_nfa[['Population','Deaths']].sum()
suicide_data_county_nfa.head(10)

                         Population  Deaths
ST County
AK ANCHORAGE                2058611     158
   FAIRBANKS NORTH STAR      685791      36
   KENAI PENINSULA           391722      26
   MATANUSKA-SUSITNA         639389      33
   NOME                       67454      22
AL BALDWIN                  1310307      88
   BLOUNT                    402599      23
   CALHOUN                   821696      34
   CULLMAN                   563918      30
   DE KALB                   496451      26

In [35]:
suicide_data_county_nfa.sort_values(by=['Deaths'], ascending=False).head()

                Population  Deaths
ST County
CA LOS ANGELES    69384934    3571
IL COOK           36478653    2075
AZ MARICOPA       27305256    1807
CA SAN DIEGO      21989802    1712
   ORANGE         21368575    1419

In [36]:
white_male_suicide_data = pd.read_csv('https://wisqars.cdc.gov:8443/cdcMapFramework/ExcelServlet?excelFile=m7151629_csv')
white_male_suicide_data.head()

,_,ST,County,StateFIPS,CountyFIPS,Population,Deaths,U_C_Rate
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"2008-2014, United States",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Death Rates per 100,000 Population",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Firearm, Suicide, White, Non-Hispanic, Males, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Annualized Crude Rate for United States: 15.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
del white_male_suicide_data['_']
white_male_suicide_data_fa = white_male_suicide_data.dropna()
white_male_suicide_data_fa = white_male_suicide_data_fa.iloc[1:]
white_male_suicide_data_cl_fa = white_male_suicide_data_fa.reset_index(drop=True)
white_male_suicide_data_cl_fa.head()

   ST   County StateFIPS CountyFIPS Population Deaths     U_C_Rate
0  AL  AUTAUGA         1          1     145752     33  22.64119875
1  AL  BALDWIN         1          3     537929    134  24.91035062
2  AL   BLOUNT         1          9     175987     35  19.88783262
3  AL  CALHOUN         1         15     296570     67  22.59163098
4  AL  CHILTON         1         21     121753     32  26.28271993

In [38]:
white_male_suicide_data_cl_fa['Population'] = pd.to_numeric(white_male_suicide_data_cl_fa['Population'])
white_male_suicide_data_cl_fa['Deaths'] = pd.to_numeric(white_male_suicide_data_cl_fa['Deaths'])
white_male_suicide_data_state_gb_fa = white_male_suicide_data_cl_fa.groupby('ST')
white_male_suicide_data_state_gb_fa.head()

,ST,County,StateFIPS,CountyFIPS,Population,Deaths,U_C_Rate
0,AL,AUTAUGA,1,1,145752,33,22.64119875
1,AL,BALDWIN,1,3,537929,134,24.91035062
2,AL,BLOUNT,1,9,175987,35,19.88783262
3,AL,CALHOUN,1,15,296570,67,22.59163098
4,AL,CHILTON,1,21,121753,32,26.28271993
32,AK,ANCHORAGE,2,20,696387,137,19.6729692
33,AK,FAIRBANKS NORTH STAR,2,90,280738,59,21.0160363
34,AK,KENAI PENINSULA,2,122,175364,61,34.78479049
35,AK,MATANUSKA-SUSITNA,2,170,284747,68,23.88084861
36,AZ,APACHE,4,1,51254,25,48.77668084
37,AZ,COCHISE,4,3,277886,97,34.90640047
38,AZ,COCONINO,4,5,265198,60,22.62460501
39,AZ,GILA,4,7,121104,36,29.72651605
40,AZ,LA PAZ,4,12,45843,24,52.35259473
48,AR,BAXTER,5,5,134497,41,30.48395131
49,AR,BENTON,5,7,602061,104,17.27399715
50,AR,BOONE,5,9,122474,35,28.577494
51,AR,CARROLL,5,15,78748,26,33.01671154
52,AR,CLEBURNE,5,23,85635,23,26.85817715
71,CA,ALAMEDA,6,1,1900709,205,10.78544901
72,CA,AMADOR,6,5,109874,40,36.40533702
73,CA,BUTTE,6,7,581620,124,21.31976204
74,CA,CALAVERAS,6,9,133754,34,25.41980053
75,CA,CONTRA COSTA,6,13,1791818,206,11.49670335
118,CO,ADAMS,8,1,849239,154,18.13388222
119,CO,ARAPAHOE,8,5,1289640,240,18.60984461
120,CO,BOULDER,8,13,850019,143,16.82315336
121,CO,BROOMFIELD,8,14,160038,25,15.62128994
122,CO,DELTA,8,29,88689,25,28.18838864
139,CT,FAIRFIELD,9,1,2094851,109,5.203234025
...,...,...,...,...,...,...,...
1075,VT,BENNINGTON,50,3,120246,26,21.62234087
1076,VT,CALEDONIA,50,5,104550,23,21.99904352
1077,VT,CHITTENDEN,50,7,495643,48,9.684389772
1078,VT,FRANKLIN,50,11,159863,34,21.26821091
1079,VT,ORANGE,50,17,98446,28,28.4419885
1084,VA,ALBEMARLE,51,3,266205,33,12.39646137
1085,VA,ARLINGTON,51,13,491621,23,4.678400638
1086,VA,AUGUSTA,51,15,238704,69,28.9060929
1087,VA,BEDFORD,51,19,232838,44,18.89725904
1088,VA,BUCHANAN,51,27,80445,25,31.07713345
1134,WA,BENTON,53,5,467291,82,17.54795192
1135,WA,CHELAN,53,7,177996,37,20.78698398
1136,WA,CLALLAM,53,9,212838,56,26.31109106
1137,WA,CLARK,53,11,1240727,169,13.62104637
1138,WA,COWLITZ,53,15,307154,41,13.34835294
1160,WV,BERKELEY,54,3,317127,57,17.97387167
1161,WV,BROOKE,54,9,78866,21,26.62744402
1162,WV,CABELL,54,11,300642,44,14.63534702
1163,WV,FAYETTE,54,19,150098,35,23.31809884
1164,WV,GREENBRIER,54,25,114810,29,25.25912377
1181,WI,BARRON,55,5,151838,22,14.48912657
1182,WI,BROWN,55,9,723726,83,11.46842866
1183,WI,CALUMET,55,15,160280,21,13.10207138
1184,WI,CHIPPEWA,55,17,213267,28,13.12908232
1185,WI,CLARK,55,19,115500,22,19.04761905
1216,WY,CAMPBELL,56,5,151945,40,26.32531508
1217,WY,CONVERSE,56,9,44919,21,46.75081814
1218,WY,FREMONT,56,13,101892,36,35.3315275
1219,WY,LARAMIE,56,21,263770,65,24.64268112
1220,WY,NATRONA,56,25,242578,67,27.61998203

In [39]:
white_male_suicide_data_fa = white_male_suicide_data_state_gb_fa[['Population','Deaths']].sum()
white_male_suicide_data_fa.head(10)

    Population  Deaths
ST
AK     1437236     325
AL     9504088    2035
AR     5331164    1119
AZ    12979836    3090
CA    53564485    7345
CO    11483385    2237
CT     8716081     627
DE     2029696     268
FL    37364003    7229
GA    14153486    2544

In [40]:
white_male_suicide_data_fa.sort_values(['Deaths'], ascending=False).head(10)

    Population  Deaths
ST
CA    53564485    7345
FL    37364003    7229
TX    36097189    6900
PA    33857831    4734
OH    28177531    3583
NC    19608509    3300
AZ    12979836    3090
MI    23150727    2921
TN    14090563    2748
WA    16938861    2561

In [41]:
white_male_suicide_data_county_gb_fa = white_male_suicide_data_cl_fa.groupby(['ST','County'])
white_male_suicide_data_county_gb_fa.head(10)

      ST      County StateFIPS CountyFIPS  Population  Deaths     U_C_Rate
0     AL     AUTAUGA         1          1      145752      33  22.64119875
1     AL     BALDWIN         1          3      537929     134  24.91035062
2     AL      BLOUNT         1          9      175987      35  19.88783262
3     AL     CALHOUN         1         15      296570      67  22.59163098
4     AL     CHILTON         1         21      121753      32  26.28271993
5     AL      COFFEE         1         31      127743      36  28.18158334
6     AL     COLBERT         1         33      147813      26  17.58979251
7     AL     CULLMAN         1         43      259103      55  21.22707958
8     AL        DALE         1         45      126718      28  22.09630834
9     AL     DE KALB         1         49      201287      41  20.36892596
10    AL      ELMORE         1         51      203028      43  21.17934472
11    AL      ETOWAH         1         55      282593      66  23.35514326
12    AL     HOUSTON         1         69      239566      49  20.45365369
13    AL     JACKSON         1         71      167104      45  26.92933742
14    AL   JEFFERSON         1         73     1154418     271  23.47503244
15    AL  LAUDERDALE         1         77      267984      46  17.16520389
16    AL    LAWRENCE         1         79       92641      27  29.14476312
17    AL         LEE         1         81      353139      53  15.00825454
18    AL   LIMESTONE         1         83      236213      41  17.35721573
19    AL     MADISON         1         89      790691     137  17.32661685
20    AL    MARSHALL         1         95      266573      50  18.75658825
21    AL      MOBILE         1         97      838208     178  21.23577919
22    AL  MONTGOMERY         1        101      298981      63  21.07157311
23    AL      MORGAN         1        103      320617      79  24.63999102
24    AL        PIKE         1        109       65342      23  35.19941232
25    AL    RANDOLPH         1        111       59065      24  40.63320071
26    AL     RUSSELL         1        113       99516      29  29.14104265
27    AL    ST CLAIR         1        115      256382      67  26.13287984
28    AL      SHELBY         1        117      544393      88  16.16479271
29    AL   TALLADEGA         1        121      181534      44  24.23788381
...   ..         ...       ...        ...         ...     ...          ...
1194  WI      JUNEAU        55         57       89801      22   24.4986136
1195  WI     KENOSHA        55         59      453709      42  9.257034795
1196  WI   LA CROSSE        55         63      360046      47  13.05388756
1197  WI   MANITOWOC        55         71      260677      33  12.65934471
1198  WI    MARATHON        55         73      426608      57  13.36121217
1199  WI   MARINETTE        55         75      140741      34  24.15785024
1200  WI   MILWAUKEE        55         79     1769445     225  12.71585158
1201  WI      ONEIDA        55         85      121372      28  23.06957124
1202  WI   OUTAGAMIE        55         87      556949      67  12.02982679
1203  WI     OZAUKEE        55         89      278255      29  10.42209484
1204  WI        POLK        55         95      149025      33  22.14393558
1205  WI     PORTAGE        55         97      228373      27  11.82276364
1206  WI      RACINE        55        101      503267      65  12.91560941
1207  WI        ROCK        55        105      467938      57  12.18110092
1208  WI    ST CROIX        55        109      283372      35  12.35125559
1209  WI        SAUK        55        111      200860      28  13.94005775
1210  WI   SHEBOYGAN        55        117      350476      35  9.986418471
1211  WI    WALWORTH        55        127      310713      43  13.83913773
1212  WI  WASHINGTON        55        131      433916      55  12.67526434
1213  WI    WAUKESHA        55        133     1217793     133  10.92139633
1214  WI   WINNEBAGO        55        139      532051      71  13.34458539
1215  WI        WOOD        55        141      240913      41  17.01859177
1216  WY    CAMPBELL        56          5      151945      40  26.32531508
1217  WY    CONVERSE        56          9       44919      21  46.75081814
1218  WY     FREMONT        56         13      101892      36   35.3315275
1219  WY     LARAMIE        56         21      263770      65  24.64268112
1220  WY     NATRONA        56         25      242578      67  27.61998203
1221  WY        PARK        56         29       91730      38  41.42592391
1222  WY    SHERIDAN        56         33       95282      34  35.68354988
1223  WY  SWEETWATER        56         37      130594      44  33.69220638

[1224 rows x 7 columns]

In [42]:
white_male_suicide_data_county_fa = white_male_suicide_data_county_gb_fa[['Population','Deaths']].sum()
white_male_suicide_data_county_fa.head()

                         Population  Deaths
ST County
AK ANCHORAGE                 696387     137
   FAIRBANKS NORTH STAR      280738      59
   KENAI PENINSULA           175364      61
   MATANUSKA-SUSITNA         284747      68
AL AUTAUGA                   145752      33

In [43]:
white_male_suicide_data_county_fa.sort_values(by=['Deaths'], ascending=False).head()

                Population  Deaths
ST County
AZ MARICOPA        7954929    1655
CA LOS ANGELES     9952916    1188
TX HARRIS          4852856     973
NV CLARK           3447306     879
CA SAN DIEGO       5578764     740

In [44]:
comparison_data=pd.merge(suicide_data_county, white_male_suicide_data_county_fa, on=['ST','County'], suffixes=['_all','_white_male'])
comparison_data.head()

                         Population_all  Deaths_all  Population_white_male  \
ST County
AK ANCHORAGE                    2058611         211                 696387
   FAIRBANKS NORTH STAR          685791          93                 280738
   KENAI PENINSULA               391722          83                 175364
   MATANUSKA-SUSITNA             639389          90                 284747
AL AUTAUGA                       382981          46                 145752

                         Deaths_white_male
ST County
AK ANCHORAGE                           137
   FAIRBANKS NORTH STAR                 59
   KENAI PENINSULA                      61
   MATANUSKA-SUSITNA                    68
AL AUTAUGA                              33

In [45]:
comparison_data_highest = comparison_data.sort_values(['Deaths_white_male'], ascending=False)

In [46]:
comparison_data_highest['white male suicides per population'] = np.where(comparison_data_highest['Deaths_all'] < 1, comparison_data_highest['Deaths_all'], comparison_data_highest['Deaths_white_male']/comparison_data_highest['Deaths_all'])*100
comparison_data_highest

                   Population_all  Deaths_all  Population_white_male  \
ST County
AZ MARICOPA              27305256        2329                7954929
CA LOS ANGELES           69384934        1998                9952916
TX HARRIS                29305035        1662                4852856
NV CLARK                 13867827        1278                3447306
CA SAN DIEGO             21989802        1023                5578764
TX DALLAS                16899891         905                2755893
   TARRANT               12929274         791                3292957
UT SALT LAKE              7331410         665                2741562
CA ORANGE                21368575         695                4755021
WA KING                  13825843         698                4578524
IL COOK                  36478653         859                7864839
FL PINELLAS               6456781         628                2399552
   BROWARD               12527777         736                2697965
AZ PIMA                   6907406         704                1890742
FL PALM BEACH             9393574         643                2700443
CA RIVERSIDE             15578020         643                3105112
   SAN BERNARDINO        14404144         648                2420100
   SACRAMENTO            10051374         530                2439178
MI WAYNE                 12658069         686                3143738
FL HILLSBOROUGH           8804244         585                2343491
PA ALLEGHENY              8588653         463                3362762
MO ST LOUIS               6999137         458                2332038
MI OAKLAND                8504026         446                3154452
TX BEXAR                 12274514         679                1880291
FL DUVAL                  6117404         534                1727122
   BREVARD                3828288         452                1475282
OH FRANKLIN               8281859         482                2758849
CO EL PASO                4429883         457                1626109
WA PIERCE                 5645104         438                2025245
IN MARION                 6383262         474                1860163
...                           ...         ...                    ...
FL DE SOTO                 242837          26                  69735
TX ERATH                   271199          28                 101677
VA PULASKI                 243241          24                 110992
GA POLK                    288988          29                 103923
IA DUBUQUE                 661056          24                 303256
KY BOYLE                   202115          27                  86006
MN GOODHUE                 323633          24                 149872
KS CRAWFORD                274282          23                 122100
WA JEFFERSON               209220          24                  94072
OK BECKHAM                 159973          26                  63478
OH PERRY                   252168          24                 123721
IN MONTGOMERY              267329          22                 125000
OK BRYAN                   301056          28                 112148
KY CLAY                    151508          24                  72498
CA DEL NORTE               197455          29                  66462
OH BROWN                   311687          24                 150729
NY MONTGOMERY              349636          22                 144752
OK MC CLAIN                246005          28                 101958
WV BROOKE                  167336          24                  78866
MN RICE                    450908          21                 193430
CA LASSEN                  237213          27                  92586
VA PATRICK                 129080          28                  57392
LA SABINE                  169751          25                  59532
KY LETCHER                 168500          24                  81845
WI CALUMET                 343965          25                 160280
VA GRAYSON                 107980          23                  49638
MO RAY                     163154          24                  77824
AR MARION                  116394          23                  56166
MO TANEY                   365670          24                 162801
LA ST CHARLES              368226          34                 122017

                   Deaths_white_male  white male suicides per population
ST County
AZ MARICOPA                     1655                           71.060541
CA LOS ANGELES                  1188                           59.459459
TX HARRIS                        973                           58.543923
NV CLARK                         879                           68.779343
CA SAN DIEGO                     740                           72.336266
TX DALLAS                        551                           60.883978
   TARRANT                       550                           69.532238
UT SALT LAKE                     534                           80.300752
CA ORANGE                        525                           75.539568
WA KING                          521                           74.641834
IL COOK                          519                           60.419092
FL PINELLAS                      480                           76.433121
   BROWARD                       478                           64.945652
AZ PIMA                          471                           66.903409
FL PALM BEACH                    466                           72.472784
CA RIVERSIDE                     459                           71.384137
   SAN BERNARDINO                418                           64.506173
   SACRAMENTO                    394                           74.339623
MI WAYNE                         394                           57.434402
FL HILLSBOROUGH                  393                           67.179487
PA ALLEGHENY                     377                           81.425486
MO ST LOUIS                      363                           79.257642
MI OAKLAND                       353                           79.147982
TX BEXAR                         344                           50.662739
FL DUVAL                         343                           64.232210
   BREVARD                       340                           75.221239
OH FRANKLIN                      337                           69.917012
CO EL PASO                       333                           72.866521
WA PIERCE                        329                           75.114155
IN MARION                        324                           68.354430
...                              ...                                 ...
FL DE SOTO                        21                           80.769231
TX ERATH                          21                           75.000000
VA PULASKI                        21                           87.500000
GA POLK                           21                           72.413793
IA DUBUQUE                        21                           87.500000
KY BOYLE                          21                           77.777778
MN GOODHUE                        21                           87.500000
KS CRAWFORD                       21                           91.304348
WA JEFFERSON                      21                           87.500000
OK BECKHAM                        21                           80.769231
OH PERRY                          21                           87.500000
IN MONTGOMERY                     21                           95.454545
OK BRYAN                          21                           75.000000
KY CLAY                           21                           87.500000
CA DEL NORTE                      21                           72.413793
OH BROWN                          21                           87.500000
NY MONTGOMERY                     21                           95.454545
OK MC CLAIN                       21                           75.000000
WV BROOKE                         21                           87.500000
MN RICE                           21                          100.000000
CA LASSEN                         21                           77.777778
VA PATRICK                        21                           75.000000
LA SABINE                         21                           84.000000
KY LETCHER                        21                           87.500000
WI CALUMET                        21                           84.000000
VA GRAYSON                        21                           91.304348
MO RAY                            21                           87.500000
AR MARION                         21                           91.304348
MO TANEY                          21                           87.500000
LA ST CHARLES                     21                           61.764706

[1224 rows x 5 columns]

In [47]:
tot_suicide_c = pd.read_csv('https://wisqars.cdc.gov:8443/cdcMapFramework/ExcelServlet?excelFile=m284764_csv')
tot_suicide_c.head()

,_,ST,County,StateFIPS,CountyFIPS,Population,Deaths,U_C_Rate
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"2008-2014, United States",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Death Rates per 100,000 Population",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"All Injury, Suicide, All Races, All Ethnicitie...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Annualized Crude Rate for United States: 12.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
del tot_suicide_c['_']
tot_suicide_c_all = tot_suicide_c.dropna()
tot_suicide_c_all = tot_suicide_c_all.iloc[1:]
tot_suicide_c_all_cl = tot_suicide_c_all.reset_index(drop=True)
tot_suicide_c_all_cl.head()

   ST   County StateFIPS CountyFIPS Population Deaths     U_C_Rate
0  AL  AUTAUGA         1          1     382981     65  16.97212133
1  AL  BALDWIN         1          3    1310307    252  19.23213415
2  AL  BARBOUR         1          5     191181     22  11.50741967
3  AL     BIBB         1          7     158945     29  18.24530498
4  AL   BLOUNT         1          9     402599     69  17.13864168

In [49]:
tot_suicide_c_all_cl['Population'] = pd.to_numeric(tot_suicide_c_all_cl['Population'])
tot_suicide_c_all_cl['Deaths'] = pd.to_numeric(tot_suicide_c_all_cl['Deaths'])
tot_suicide_c_all_cl_gb = tot_suicide_c_all_cl.groupby(['ST','County'])
tot_suicide_c_all_cl_gb.head()

      ST       County StateFIPS CountyFIPS  Population  Deaths     U_C_Rate
0     AL      AUTAUGA         1          1      382981      65  16.97212133
1     AL      BALDWIN         1          3     1310307     252  19.23213415
2     AL      BARBOUR         1          5      191181      22  11.50741967
3     AL         BIBB         1          7      158945      29  18.24530498
4     AL       BLOUNT         1          9      402599      69  17.13864168
5     AL       BUTLER         1         13      144433      24  16.61670117
6     AL      CALHOUN         1         15      821696     124  15.09073915
7     AL     CHAMBERS         1         17      239504      35  14.61353464
8     AL     CHEROKEE         1         19      181721      38  20.91117702
9     AL      CHILTON         1         21      305591      51  16.68897317
10    AL       CLARKE         1         25      179025      22  12.28878648
11    AL     CLEBURNE         1         29      104746      21  20.04849827
12    AL       COFFEE         1         31      351356      52  14.79980419
13    AL      COLBERT         1         33      381275      50  13.11389417
14    AL      CONECUH         1         35       91596      22  24.01851609
15    AL    COVINGTON         1         39      264580      33  12.47259808
16    AL      CULLMAN         1         43      563918      96  17.02375168
17    AL         DALE         1         45      349700      45  12.86817272
18    AL      DE KALB         1         49      496451      79  15.91295012
19    AL       ELMORE         1         51      557793      82  14.70079402
20    AL     ESCAMBIA         1         53      266393      28  10.51078669
21    AL       ETOWAH         1         55      729002     117  16.04933868
22    AL      FAYETTE         1         57      119939      24  20.01017184
23    AL     FRANKLIN         1         59      221312      33  14.91107577
24    AL       GENEVA         1         61      187374      28  14.94337528
25    AL        HENRY         1         67      120739      23  19.04935439
26    AL      HOUSTON         1         69      714840      86   12.0306642
27    AL      JACKSON         1         71      372114      68   18.2739698
28    AL    JEFFERSON         1         73     4609287     616  13.36432294
29    AL   LAUDERDALE         1         77      648610      74  11.40901312
...   ..          ...       ...        ...         ...     ...          ...
1872  WI       RACINE        55        101     1365015     182  13.33318681
1873  WI         ROCK        55        105     1123482     168   14.9535106
1874  WI     ST CROIX        55        109      594403      84  14.13182639
1875  WI         SAUK        55        111      436156      70  16.04930346
1876  WI       SAWYER        55        113      115786      21  18.13690774
1877  WI      SHAWANO        55        115      292286      42  14.36948742
1878  WI    SHEBOYGAN        55        117      807143     116  14.37167887
1879  WI       TAYLOR        55        119      144314      21  14.55160276
1880  WI  TREMPEALEAU        55        121      203410      34  16.71500909
1881  WI       VERNON        55        123      209746      25  11.91917843
1882  WI        VILAS        55        125      150121      32  21.31613832
1883  WI     WALWORTH        55        127      718662      97  13.49730471
1884  WI   WASHINGTON        55        131      924996     120  12.97302907
1885  WI     WAUKESHA        55        133     2738016     323  11.79686313
1886  WI      WAUPACA        55        135      366038      53  14.47937099
1887  WI     WAUSHARA        55        137      171365      24  14.00519359
1888  WI    WINNEBAGO        55        139     1173396     171   14.5730853
1889  WI         WOOD        55        141      520420      80  15.37219938
1890  WY       ALBANY        56          1      256346      39  15.21381258
1891  WY     CAMPBELL        56          5      325646      78  23.95239002
1892  WY       CARBON        56          7      110662      27  24.39861922
1893  WY     CONVERSE        56          9       97296      31  31.86153593
1894  WY      FREMONT        56         13      282184      77  27.28716015
1895  WY      LARAMIE        56         21      651105     149  22.88417383
1896  WY      LINCOLN        56         23      126640      24  18.95135818
1897  WY      NATRONA        56         25      542239     131  24.15908852
1898  WY         PARK        56         29      199222      51  25.59958238
1899  WY     SHERIDAN        56         33      205339      60  29.21997283
1900  WY   SWEETWATER        56         37      309675      74  23.89602002
1901  WY        UINTA        56         41      146626      34  23.18824765

[1902 rows x 7 columns]

In [50]:
total_suicide_per = tot_suicide_c_all_cl_gb[['Population','Deaths']].sum()
total_suicide_per = total_suicide_per.sort_values(by=['Deaths'], ascending=False)
total_suicide_per

                   Population  Deaths
ST County
CA LOS ANGELES       69384934    5569
AZ MARICOPA          27305256    4136
TX HARRIS            29305035    2970
IL COOK              36478653    2934
CA SAN DIEGO         21989802    2735
NV CLARK             13867827    2477
CA ORANGE            21368575    2114
WA KING              13825843    1701
TX DALLAS            16899891    1680
FL BROWARD           12527777    1645
   MIAMI-DADE        17892056    1615
CA RIVERSIDE         15578020    1580
   SAN BERNARDINO    14404144    1480
FL PALM BEACH         9393574    1450
UT SALT LAKE          7331410    1421
MI WAYNE             12658069    1419
TX TARRANT           12929274    1375
CA SACRAMENTO        10051374    1336
FL PINELLAS           6456781    1305
TX BEXAR             12274514    1283
AZ PIMA               6907406    1238
FL HILLSBOROUGH       8804244    1176
PA PHILADELPHIA      10746489    1136
CA SANTA CLARA       12708658    1085
MI OAKLAND            8504026    1031
CA ALAMEDA           10768932    1010
PA ALLEGHENY          8588653    1010
NY QUEENS            15809153     985
OH CUYAHOGA           8916076     971
FL DUVAL              6117404     956
...                       ...     ...
AR SEVIER              119588      21
LA MOREHOUSE           193145      21
UT EMERY                75813      21
OH VAN WERT            201056      21
TX BOSQUE              126155      21
FL GILCHRIST           118320      21
SD HUGHES              120411      21
WI TAYLOR              144314      21
KS JEFFERSON           132775      21
MS CLAY                143831      21
IA CARROLL             144984      21
NC PAMLICO              91579      21
IA CASS                 96385      21
KS BOURBON             104855      21
   ATCHISON            117524      21
MO PEMISCOT            127025      21
   MORGAN              142885      21
OK MURRAY               94773      21
VA PRINCE EDWARD       161915      21
MO COOPER              123004      21
AR ARKANSAS            132723      21
IN SPENCER             146498      21
WV JACKSON             204363      21
MO BATES               118139      21
IN PERRY               135849      21
AL CLEBURNE            104746      21
FL HARDEE              192972      21
SC DILLON              221023      21
MN MEEKER              162482      21
GA PIERCE              131029      21

[1902 rows x 2 columns]

In [51]:
city_stuff = pd.read_csv('uscitiesv1.4.csv')
city_stuff.sort_values(by=['city'], ascending=True)

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,population_proper,density,source,incorporated,timezone,zips,id
13218,Aaronsburg,Aaronsburg,PA,Pennsylvania,42027,Centre,40.9042,-77.4513,NaN,NaN,271.7,polygon,False,America/New_York,16820,1840005152
18365,Abanda,Abanda,AL,Alabama,1017,Chambers,33.0926,-85.5253,NaN,NaN,51.2,polygon,False,America/Chicago,36276,1840023012
33726,Abbeville,Abbeville,MS,Mississippi,28071,Lafayette,34.5034,-89.5025,430.0,430.0,47.0,polygon,True,America/Chicago,38601,1840015557
18844,Abbeville,Abbeville,AL,Alabama,1067,Henry,31.5664,-85.2528,2603.0,2603.0,64.0,polygon,True,America/Chicago,36310,1840000552
34759,Abbeville,Abbeville,SC,South Carolina,45001,Abbeville,34.1787,-82.3774,5173.0,5168.0,321.0,polygon,True,America/New_York,29620,1840013618
8967,Abbeville,Abbeville,LA,Louisiana,22113,Vermilion,29.9751,-92.1265,20139.0,12452.0,788.0,polygon,True,America/Chicago,70510 70511,1840014005
21492,Abbeville,Abbeville,GA,Georgia,13315,Wilcox,31.9925,-83.3068,2761.0,2761.0,348.0,polygon,True,America/New_York,31001,1840013845
1976,Abbotsford,Abbotsford,WI,Wisconsin,55019,Clark,44.9437,-90.3154,3877.0,2259.0,320.0,polygon,True,America/Chicago,54405 54421,1840002168
19133,Abbott,Abbott,AR,Arkansas,5127,Scott,35.0734,-94.1938,NaN,NaN,26.3,point,False,America/Chicago,72944,1840027805
2767,Abbott,Abbott,WV,West Virginia,54097,Upshur,38.9218,-80.3215,NaN,NaN,29.9,point,False,America/New_York,26201,1840038211
1040,Abbott,Abbott,VA,Virginia,51045,Craig,37.4293,-80.1395,NaN,NaN,28.6,point,False,America/New_York,24127,1840037372
6147,Abbott,Abbott,TX,Texas,48217,Hill,31.8874,-97.0805,360.0,360.0,235.0,polygon,True,America/Chicago,76621,1840019506
9719,Abbottsburg,Abbottsburg,NC,North Carolina,37017,Bladen,34.5171,-78.7250,NaN,NaN,38.5,point,False,America/New_York,28320,1840032855
13829,Abbottstown,Abbottstown,PA,Pennsylvania,42001,Adams,39.8843,-76.9888,1017.0,1017.0,719.0,polygon,True,America/New_York,17301,1840000675
32874,Abbyville,Abbyville,KS,Kansas,20155,Reno,37.9704,-98.2040,87.0,87.0,181.0,polygon,True,America/Chicago,67510,1840007538
7088,Abell,Abell,TX,Texas,48065,Carson,35.3934,-101.4588,NaN,NaN,1.1,point,False,America/Chicago,79068,1840036642
10145,Abercrombie,Abercrombie,ND,North Dakota,38077,Richland,46.4470,-96.7293,259.0,259.0,310.0,polygon,True,America/Chicago,58075 58001,1840001946
22854,Aberdeen,Aberdeen,IN,Indiana,18127,Porter,41.4418,-87.1166,NaN,NaN,688.2,polygon,False,America/Chicago,46385,1840030083
36474,Aberdeen,Aberdeen,SD,South Dakota,46013,Brown,45.4647,-98.4678,28291.0,28415.0,692.0,polygon,True,America/Chicago,57401 57402,1840002032
26670,Aberdeen,Aberdeen,MD,Maryland,24025,Harford,39.5146,-76.1731,15612.0,15612.0,929.0,polygon,True,America/New_York,21001 21018,1840005666
9590,Aberdeen,Aberdeen,NC,North Carolina,37125,Moore,35.1345,-79.4314,7502.0,7502.0,316.0,polygon,True,America/New_York,28315,1840015433
35371,Aberdeen,Aberdeen,KY,Kentucky,21031,Butler,37.2539,-86.6817,NaN,NaN,38.0,point,False,America/Chicago,42261,1840030357
25814,Aberdeen,Aberdeen,ID,Idaho,16011,Bingham,42.9441,-112.8384,1923.0,1923.0,722.0,polygon,True,America/Boise,83210,1840018647
819,Aberdeen,Aberdeen,WA,Washington,53027,Grays Harbor,46.9768,-123.8083,28863.0,16334.0,592.0,polygon,True,America/Los_Angeles,98520,1840018446
27490,Aberdeen,Aberdeen,OH,Ohio,39015,Brown,38.6714,-83.7705,1602.0,1602.0,458.0,polygon,True,America/New_York,45101,1840010685
34071,Aberdeen,Aberdeen,MS,Mississippi,28095,Monroe,33.8287,-88.5539,4482.0,5391.0,172.0,polygon,True,America/Chicago,39730,1840013685
690,Aberdeen Gardens,Aberdeen Gardens,WA,Washington,53027,Grays Harbor,47.0587,-123.7792,NaN,NaN,55.4,polygon,False,America/Los_Angeles,98520,1840037845
18446,Aberfoil,Aberfoil,AL,Alabama,1011,Bullock,32.0704,-85.6877,NaN,NaN,20.0,point,False,America/Chicago,36089,1840023695
18157,Abernant,Abernant,AL,Alabama,1125,Tuscaloosa,33.2904,-87.1981,NaN,NaN,140.8,point,False,America/Chicago,35444,1840023696
6919,Abernathy,Abernathy,TX,Texas,48303,Lubbock,33.8370,-101.8155,2744.0,2765.0,495.0,polygon,True,America/Chicago,79311,1840019272
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19306,Zion,Zion,AR,Arkansas,5065,Izard,36.0803,-91.7699,NaN,NaN,15.1,point,False,America/Chicago,72573,1840027681
24383,Zion,Zion,OK,Oklahoma,40001,Adair,35.7853,-94.6378,NaN,NaN,2.9,polygon,False,America/Chicago,74960,1840034603
21056,Zion,Zion,IL,Illinois,17097,Lake,42.4599,-87.8511,24029.0,24029.0,944.0,polygon,True,America/Chicago,60099,1840010114
26330,Zion,Zion,MD,Maryland,24015,Cecil,39.6757,-75.9649,NaN,NaN,146.9,point,False,America/New_York,21901,1840031429
29136,Zion,Zion,MO,Missouri,29123,Madison,37.4217,-90.3101,NaN,NaN,16.0,point,False,America/Chicago,63645,1840032117
14474,Zion,Zion,PA,Pennsylvania,42027,Centre,40.9168,-77.6908,NaN,NaN,425.7,polygon,False,America/New_York,16823,1840005170
22790,Zionsville,Zionsville,IN,Indiana,18011,Boone,39.9990,-86.2921,26784.0,26784.0,193.0,polygon,True,America/Indiana/Indianapolis,46077 46075,1840010515
28427,Zoar,Zoar,OH,Ohio,39157,Tuscarawas,40.6134,-81.4233,180.0,180.0,119.0,polygon,True,America/New_York,44697 44612,1840012095
2449,Zoar,Zoar,WI,Wisconsin,55078,Menominee,45.0178,-88.8945,NaN,NaN,8.8,polygon,False,America/Chicago,54150,1840006753
3423,Zolfo Springs,Zolfo Springs,FL,Florida,12049,Hardee,27.4927,-81.7870,1795.0,1795.0,396.0,polygon,True,America/New_York,33890,1840017249
8536,Zona,Zona,LA,Louisiana,22117,Washington,30.7482,-90.0812,NaN,NaN,12.6,point,False,America/Chicago,70438,1840030897
33380,Zortman,Zortman,MT,Montana,30071,Phillips,47.9167,-108.5091,NaN,NaN,12.1,polygon,False,America/Denver,59546,1840023744
7818,Zuehl,Zuehl,TX,Texas,48187,Guadalupe,29.4960,-98.1504,NaN,NaN,62.7,polygon,False,America/Chicago,78124,1840019640
31017,Zumbro Falls,Zumbro Falls,MN,Minnesota,27157,Wabasha,44.2850,-92.4264,242.0,242.0,161.0,polygon,True,America/Chicago,55991,1840010024
31330,Zumbrota,Zumbrota,MN,Minnesota,27049,Goodhue,44.2942,-92.6734,3314.0,3409.0,489.0,polygon,True,America/Chicago,55992,1840000306
979,Zuni,Zuni,VA,Virginia,51093,Isle of Wight,36.8660,-76.8308,NaN,NaN,79.3,point,False,America/New_York,23898,1840037449
5678,Zuni Pueblo,Zuni Pueblo,NM,New Mexico,35031,McKinley,35.0708,-108.8484,NaN,NaN,1186.5,polygon,False,America/Denver,87327,1840019095
32408,Zurich,Zurich,KS,Kansas,20163,Rooks,39.2320,-99.4346,97.0,97.0,215.0,polygon,True,America/Chicago,67663,1840010629
23744,Zwingle,Zwingle,IA,Iowa,19061,Dubuque,42.2972,-90.6875,89.0,89.0,209.0,polygon,True,America/Chicago,52079,1840010095
8465,Zwolle,Zwolle,LA,Louisiana,22085,Sabine,31.6398,-93.6412,1950.0,1950.0,165.0,polygon,True,America/Chicago,71486,1840017064
3305,ʻAiea,Aiea,HI,Hawaii,15003,Honolulu,21.3865,-157.9232,NaN,NaN,2685.5,polygon,False,Pacific/Honolulu,96701,1840029469
3207,ʻEleʻele,Eleele,HI,Hawaii,15007,Kauai,21.9088,-159.5801,NaN,NaN,454.6,polygon,False,Pacific/Honolulu,96705,1840029471
3229,ʻEwa Beach,Ewa Beach,HI,Hawaii,15003,Honolulu,21.3182,-158.0073,NaN,NaN,4968.4,polygon,False,Pacific/Honolulu,96706,1840029470
3173,ʻEwa Gentry,Ewa Gentry,HI,Hawaii,15003,Honolulu,21.3343,-158.0259,NaN,NaN,6189.2,polygon,False,Pacific/Honolulu,96706,1840029577
3226,ʻEwa Villages,Ewa Villages,HI,Hawaii,15003,Honolulu,21.3418,-158.0389,NaN,NaN,2442.7,polygon,False,Pacific/Honolulu,96706,1840029578
3270,ʻUalapuʻe,Ualapue,HI,Hawaii,15009,Maui,21.0704,-156.8355,NaN,NaN,135.8,polygon,False,Pacific/Honolulu,96748,1840029548
3174,ʻUlupalakua,Ulupalakua,HI,Hawaii,15009,Maui,20.6487,-156.3982,NaN,NaN,9.3,point,False,Pacific/Honolulu,96790,1840029549
3312,ʻĀhuimanu,Ahuimanu,HI,Hawaii,15003,Honolulu,21.4379,-157.8404,NaN,NaN,2191.8,polygon,False,Pacific/Honolulu,96744,1840029468
3194,ʻŌmaʻo,Omao,HI,Hawaii,15007,Kauai,21.9236,-159.4814,NaN,NaN,471.5,polygon,False,Pacific/Honolulu,96756,1840029533
3233,ʻŌʻōkala,Ookala,HI,Hawaii,15001,Hawaii,20.0142,-155.2842,NaN,NaN,85.6,point,False,Pacific/Honolulu,96774,1840029534

In [52]:
del city_stuff['population']
del city_stuff['population_proper']
del city_stuff['city']
del city_stuff['source']
del city_stuff['density']
del city_stuff['incorporated']
del city_stuff['timezone']
del city_stuff['id']
del city_stuff['city_ascii']
del city_stuff['state_name']
del city_stuff['county_fips']
del city_stuff['zips']

In [53]:
city_stuff = city_stuff.rename(columns={'county_name': 'County','state_id':'ST'})

In [54]:
city_stuff.sort_values(by=['County'])
city_stuff = city_stuff.drop_duplicates(subset=['County'])
city_stuff['County'] = city_stuff['County'].str.upper()
city_stuff

       ST        County      lat       lng
0      WA        PIERCE  47.1443 -122.1408
1      WA        SKAGIT  48.5602 -122.4311
2      WA         LEWIS  46.6085 -121.6702
3      WA        KITSAP  47.5862 -122.5482
5      WA        CHELAN  47.8432 -120.8157
6      WA      FRANKLIN  46.6436 -118.5566
7      WA       LINCOLN  47.6813 -118.0164
8      WA         ADAMS  46.7539 -118.3104
9      WA          KING  47.6154 -121.9096
16     WA       PACIFIC  46.2509 -123.8576
18     WA      KITTITAS  47.2338 -121.0335
19     WA      OKANOGAN  48.0499 -118.9850
20     WA       SPOKANE  47.3380 -117.2313
21     WA     SNOHOMISH  47.8045 -122.1435
28     WA         GRANT  47.6123 -119.2890
29     WA       DOUGLAS  47.6212 -120.0048
34     WA     KLICKITAT  45.6956 -121.2805
41     WA        YAKIMA  46.5022 -120.4668
42     WA       WHITMAN  47.0075 -117.3502
43     WA      THURSTON  46.8451 -122.6562
46     WA      SAN JUAN  48.5843 -122.9291
48     WA     WAHKIAKUM  46.3076 -123.6344
54     WA         CLARK  45.9279 -122.3795
67     WA     JEFFERSON  48.1219 -122.7873
68     WA  GRAYS HARBOR  47.0762 -124.1619
70     WA       WHATCOM  48.6737 -121.2473
71     WA       STEVENS  47.9082 -117.8058
76     WA        ISLAND  48.2965 -122.6331
85     WA   WALLA WALLA  46.1991 -118.9728
86     WA       COWLITZ  46.2973 -122.8107
...    ..           ...      ...       ...
36224  SD         TRIPP  43.2596  -99.7169
36226  SD        MCCOOK  43.7002  -97.1843
36227  SD   CHARLES MIX  43.0399  -98.1856
36228  SD     KINGSBURY  44.4880  -97.4409
36229  SD       YANKTON  42.9586  -97.1812
36232  SD     CODINGTON  44.8809  -97.4616
36233  SD        HAMLIN  44.5768  -96.9011
36235  SD         BRULE  43.7468  -98.9569
36237  SD     BON HOMME  42.7822  -97.9816
36239  SD        AURORA  43.5272  -98.5894
36244  SD       SANBORN  44.0213  -98.1032
36252  SD         MOODY  44.0004  -96.6485
36255  SD     MINNEHAHA  43.7577  -96.4762
36256  SD         SPINK  45.0490  -98.0974
36261  SD         MINER  44.0083  -97.5960
36267  SD         LYMAN  43.8037  -99.3721
36277  SD      MELLETTE  43.5670 -100.7449
36280  SD       STANLEY  44.3703 -101.0215
36284  SD    FALL RIVER  43.4050 -103.2691
36287  SD         FAULK  44.8969  -98.7284
36295  SD          HAND  44.5158  -99.2005
36301  SD       GREGORY  43.2897  -99.2165
36302  SD        HANSON  43.6020  -97.6195
36304  SD        BEADLE  44.4341  -97.9886
36331  SD       BENNETT  43.1711 -101.2546
36332  SD           DAY  45.3355  -97.5216
36367  SD       ZIEBACH  44.5458 -101.9113
36371  SD       DAVISON  43.5463  -97.9832
36470  SD         SULLY  44.7045 -100.0677
36538  SD        HAAKON  44.0408 -101.6646

[1930 rows x 4 columns]

In [55]:
total_suicide_data = pd.merge(city_stuff,total_suicide_per, on='County', how='inner')

In [56]:
total_suicide_data

      ST        County      lat       lng  Population  Deaths
0     WA        PIERCE  47.1443 -122.1408     5645104     938
1     WA        PIERCE  47.1443 -122.1408      285577      38
2     WA        PIERCE  47.1443 -122.1408      131029      21
3     WA        SKAGIT  48.5602 -122.4311      824118     125
4     WA         LEWIS  46.6085 -121.6702      527092      87
5     WA         LEWIS  46.6085 -121.6702      189765      31
6     WA         LEWIS  46.6085 -121.6702       84122      27
7     WA        KITSAP  47.5862 -122.5482     1763264     237
8     WA        CHELAN  47.8432 -120.8157      510540      83
9     WA      FRANKLIN  46.6436 -118.5566     8281859     945
10    WA      FRANKLIN  46.6436 -118.5566      710938     143
11    WA      FRANKLIN  46.6436 -118.5566     1052988     138
12    WA      FRANKLIN  46.6436 -118.5566      427299      70
13    WA      FRANKLIN  46.6436 -118.5566      336170      56
14    WA      FRANKLIN  46.6436 -118.5566      287641      56
15    WA      FRANKLIN  46.6436 -118.5566      499520      52
16    WA      FRANKLIN  46.6436 -118.5566      392755      50
17    WA      FRANKLIN  46.6436 -118.5566      566834      50
18    WA      FRANKLIN  46.6436 -118.5566      361169      45
19    WA      FRANKLIN  46.6436 -118.5566      277436      42
20    WA      FRANKLIN  46.6436 -118.5566      346066      39
21    WA      FRANKLIN  46.6436 -118.5566      221312      33
22    WA      FRANKLIN  46.6436 -118.5566      180879      29
23    WA      FRANKLIN  46.6436 -118.5566      154678      29
24    WA      FRANKLIN  46.6436 -118.5566      214342      28
25    WA      FRANKLIN  46.6436 -118.5566      126177      27
26    WA      FRANKLIN  46.6436 -118.5566      161458      21
27    WA       LINCOLN  47.6813 -118.0164      322640      86
28    WA       LINCOLN  47.6813 -118.0164      548775      73
29    WA       LINCOLN  47.6813 -118.0164      371238      64
...   ..           ...      ...       ...         ...     ...
1797  SC      MARLBORO  34.6665  -79.5447      199765      27
1798  KY  BRECKINRIDGE  37.8312  -86.6304      140383      30
1799  KY      CALLOWAY  36.5892  -88.4381      263245      37
1800  KY        KENTON  39.0338  -84.5675     1126767     154
1801  KY    MUHLENBERG  37.1231  -87.2125      219805      39
1802  KY     BREATHITT  37.4215  -83.4585       96591      22
1803  KY        GRAVES  36.5603  -88.5692      260961      46
1804  KY       LETCHER  37.1638  -82.7493      168500      29
1805  KY         BOYLE  37.5855  -84.7903      202115      35
1806  KY     JESSAMINE  37.8787  -84.6545      343495      42
1807  KY        BARREN  37.0048  -85.9264      297419      47
1808  KY       GREENUP  38.4949  -82.6911      257441      24
1809  KY        LAUREL  37.0037  -84.1610      414164      62
1810  KY       BULLITT  38.0645  -85.7146      526769      81
1811  OR     DESCHUTES  44.1561 -121.3280     1129773     235
1812  OR       MALHEUR  43.8570 -117.6265      216258      36
1813  OR      UMATILLA  45.6142 -118.7065      532758      94
1814  OR       YAMHILL  45.2759 -123.0072      698494     100
1815  OR     TILLAMOOK  45.6186 -123.9398      176997      31
1816  OR       KLAMATH  42.5764 -121.8678      463209     120
1817  OR         WASCO  45.6207 -121.2363      176489      34
1818  OR     CLACKAMAS  45.2987 -122.3338     2667820     419
1819  OR     JOSEPHINE  42.1276 -123.5390      579687     139
1820  OR       CLATSOP  46.1851 -123.5860      259957      51
1821  OR     MULTNOMAH  45.5358 -122.4205     5225632     856
1822  SD        CORSON  45.8133 -100.8107       28625      22
1823  SD       YANKTON  42.9586  -97.1812      157482      26
1824  SD     CODINGTON  44.8809  -97.4616      192180      31
1825  SD     MINNEHAHA  43.7577  -96.4762     1214350     188
1826  SD       DAVISON  43.5463  -97.9832      137336      23

[1827 rows x 6 columns]

In [57]:
total_suicide_data = total_suicide_data.dropna()
total_suicide_data

      ST        County      lat       lng  Population  Deaths
0     WA        PIERCE  47.1443 -122.1408     5645104     938
1     WA        PIERCE  47.1443 -122.1408      285577      38
2     WA        PIERCE  47.1443 -122.1408      131029      21
3     WA        SKAGIT  48.5602 -122.4311      824118     125
4     WA         LEWIS  46.6085 -121.6702      527092      87
5     WA         LEWIS  46.6085 -121.6702      189765      31
6     WA         LEWIS  46.6085 -121.6702       84122      27
7     WA        KITSAP  47.5862 -122.5482     1763264     237
8     WA        CHELAN  47.8432 -120.8157      510540      83
9     WA      FRANKLIN  46.6436 -118.5566     8281859     945
10    WA      FRANKLIN  46.6436 -118.5566      710938     143
11    WA      FRANKLIN  46.6436 -118.5566     1052988     138
12    WA      FRANKLIN  46.6436 -118.5566      427299      70
13    WA      FRANKLIN  46.6436 -118.5566      336170      56
14    WA      FRANKLIN  46.6436 -118.5566      287641      56
15    WA      FRANKLIN  46.6436 -118.5566      499520      52
16    WA      FRANKLIN  46.6436 -118.5566      392755      50
17    WA      FRANKLIN  46.6436 -118.5566      566834      50
18    WA      FRANKLIN  46.6436 -118.5566      361169      45
19    WA      FRANKLIN  46.6436 -118.5566      277436      42
20    WA      FRANKLIN  46.6436 -118.5566      346066      39
21    WA      FRANKLIN  46.6436 -118.5566      221312      33
22    WA      FRANKLIN  46.6436 -118.5566      180879      29
23    WA      FRANKLIN  46.6436 -118.5566      154678      29
24    WA      FRANKLIN  46.6436 -118.5566      214342      28
25    WA      FRANKLIN  46.6436 -118.5566      126177      27
26    WA      FRANKLIN  46.6436 -118.5566      161458      21
27    WA       LINCOLN  47.6813 -118.0164      322640      86
28    WA       LINCOLN  47.6813 -118.0164      548775      73
29    WA       LINCOLN  47.6813 -118.0164      371238      64
...   ..           ...      ...       ...         ...     ...
1797  SC      MARLBORO  34.6665  -79.5447      199765      27
1798  KY  BRECKINRIDGE  37.8312  -86.6304      140383      30
1799  KY      CALLOWAY  36.5892  -88.4381      263245      37
1800  KY        KENTON  39.0338  -84.5675     1126767     154
1801  KY    MUHLENBERG  37.1231  -87.2125      219805      39
1802  KY     BREATHITT  37.4215  -83.4585       96591      22
1803  KY        GRAVES  36.5603  -88.5692      260961      46
1804  KY       LETCHER  37.1638  -82.7493      168500      29
1805  KY         BOYLE  37.5855  -84.7903      202115      35
1806  KY     JESSAMINE  37.8787  -84.6545      343495      42
1807  KY        BARREN  37.0048  -85.9264      297419      47
1808  KY       GREENUP  38.4949  -82.6911      257441      24
1809  KY        LAUREL  37.0037  -84.1610      414164      62
1810  KY       BULLITT  38.0645  -85.7146      526769      81
1811  OR     DESCHUTES  44.1561 -121.3280     1129773     235
1812  OR       MALHEUR  43.8570 -117.6265      216258      36
1813  OR      UMATILLA  45.6142 -118.7065      532758      94
1814  OR       YAMHILL  45.2759 -123.0072      698494     100
1815  OR     TILLAMOOK  45.6186 -123.9398      176997      31
1816  OR       KLAMATH  42.5764 -121.8678      463209     120
1817  OR         WASCO  45.6207 -121.2363      176489      34
1818  OR     CLACKAMAS  45.2987 -122.3338     2667820     419
1819  OR     JOSEPHINE  42.1276 -123.5390      579687     139
1820  OR       CLATSOP  46.1851 -123.5860      259957      51
1821  OR     MULTNOMAH  45.5358 -122.4205     5225632     856
1822  SD        CORSON  45.8133 -100.8107       28625      22
1823  SD       YANKTON  42.9586  -97.1812      157482      26
1824  SD     CODINGTON  44.8809  -97.4616      192180      31
1825  SD     MINNEHAHA  43.7577  -96.4762     1214350     188
1826  SD       DAVISON  43.5463  -97.9832      137336      23

[1827 rows x 6 columns]

In [58]:
geocode = 'https://maps.googleapis.com/maps/api/geocode/json?address=maricopa&key={AIzaSyA1vMvoXyunLg2h2-lTrNbB7GRWbOhz6B8}'

In [59]:
gmaps.configure(api_key='AIzaSyA1vMvoXyunLg2h2-lTrNbB7GRWbOhz6B8')

In [60]:
locations = total_suicide_data[['lat','lng']].astype(float)
suicides = total_suicide_data['Deaths'].astype(float)

In [62]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=suicides,
                                dissipating=False, max_intensity=100,
                                point_radius=1)

heat_layer.dissipating=False
heat_layer.max_intensity=100
heat_layer.point_radius=1

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))